<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define ShiftShieldInstallerWPF_TargetDir=$(var.ShiftShieldInstallerWPF.TargetDir)?>
	<Product Id="*" Name="Shift Shield" Language="1033" Version="1.1" Manufacturer="Vincent Jenei" UpgradeCode="ce36c490-930b-41e9-923f-7da02844c938">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Shift Shield" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Shift Shield" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Shift Shield"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Shift Shield" Description="A bullet hell game by Vincent Jenei." Target="[INSTALLFOLDER]Shift Shield.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\MyWpfApplication" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
        <Shortcut Id="ApplicationDesktopShortcut" Name="Shift Shield" Description="A bullet hell game by Vincent Jenei." Target="[INSTALLFOLDER]Shift Shield.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\MyWpfApplication" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="ShiftShieldInstallerWPF.exe" Guid="c9931fa3-7da8-4807-9247-fc14a0cc8a55">
			  <File Id="ShiftShieldInstallerWPF.exe" Name="Shift Shield.exe" Source="$(var.ShiftShieldInstallerWPF_TargetDir)ShiftShieldInstallerWPF.exe" />
			</Component>
			<Component Id="ShiftShieldInstallerWPF.exe.config" Guid="998cdc58-5ae3-43e9-9b63-e20982238add">
			  <File Id="ShiftShieldInstallerWPF.exe.config" Name="Shift Shield.exe.config" Source="$(var.ShiftShieldInstallerWPF_TargetDir)ShiftShieldInstallerWPF.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
